{% extends 'genie/base.html' %}
{% load static %}
{% block title %}Available Spots{% endblock %}
{% block content %}

<h1 class="mb-4">Available Parking Areas</h1>

<p class="lead font-weight-bolder mb-0">{{ event.name }}</p>
<p class="lead mb-1">{{ event.startTime|date:'M d Y h:i A' }} | {{ event.address }}</p>
<a class="lead" href="{% url 'genie:events' %}"><i class="fa-fw fas fa-arrow-left"></i> select a different event</a>

<p class="lead font-weight-bolder mt-3 mb-0">{{ lot.name }}</p>
<p class="lead mb-1">{{ lot.address }}</p>
<a class="lead" href="{% url 'genie:lots' %}?event={{ event.pk }}"><i class="fa-fw fas fa-arrow-left"></i> select a different lot</a>

<div class="table-responsive shadow my-5"><table class="table table-striped mb-0">
	<tr>
		<th class="pl-3">Area</th>
		<th>Capacity</th>
		<th>Spot Type</th>
		<th>Price</th>
		<th>Make Reservation</th>
	</tr>
	{% for area in areas %}
	<tr>
		<td class="align-middle pl-3">{{ area.0.areaIdentifier }}</td>
		<td class="align-middle">{{ area.1 }} of {{ area.0.capacity }}</td>
		<td class="align-middle"><span class="badge badge-pill badge-info mr-2">{{ area.0.type }}</span></td>
		<td class="align-middle">${{ area.0.price }}</td>
		<td class="align-middle">{% if area.1 < 1 %}
        <strong class="pt-0 text-danger">SOLD OUT</strong>
        {% else %}
        <button type="button" class="pt-0 pl-0 btn btn-link" data-toggle="modal" data-target="#reserve_{{ area.0.pk }}">Reserve</button>
        {% endif %}</td>
	</tr>
	{% endfor %}
</table></div>

{% for area in areas %}
{% if area.1 > 0 %}
<div class="modal fade" id="reserve_{{ area.0.pk }}" tabindex="-1" role="dialog" aria-labelledby="reserve_{{ area.0.pk }}" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content p-4">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Reservation Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p class="m-0"><strong>Area: </strong>{{ area.0.areaIdentifier }}</p>
          <p class="m-0"><strong>Lot Address: </strong>{{ lot.address }}</p>
          <h3 class="h5 mt-3 mb-0 text-primary">Event Details</h3>
          <p class="font-weight-bolder mb-0">{{ event.name }}</p>
          <p class="m-0"><strong>Date: </strong>{{ event.startTime|date:'M d Y' }}</p>
          <p class="m-0"><strong>Time: </strong>{{ event.startTime|date:'h:i A' }} - {{ event.endTime|date:'h:i A' }}</p>
          <p class="card-text">{{ event.address }}</p>
          <h3 class="h5 mt-3 mb-0 text-primary">Payment Details</h3>
          <p class="card-text"><strong>Price:</strong> ${{ area.0.price }}<br /><strong>Current Balance: </strong> $<span id="balance">{{ user.profile.balance }}</span></p>
      </div>
      <div class="modal-footer">
          <a class="btn btn-block btn-outline-success mt-2" href="{% url 'genie:make_reservation' %}?event={{ event.pk }}&area={{ area.0.pk }}"><i class="fas fa-fw fa-check"></i> Make Payment</a>
          <button class="btn btn-block btn-outline-danger mt-2" data-dismiss="modal"><i class="fas fa-fw fa-times"></i> Cancel</button>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endfor %}
<br/>


{% endblock %}
