{% extends 'genie/base.html' %}
{% load static %}
{% block title %}Assign Events{% endblock %}
{% block content %}
{% csrf_token %}

    <h1>Edit Assigned Events</h1>
    <p class="lead"><strong>Lot:</strong> {{ lot.name }}</p>
    <a class="lead" href="{% url 'genie:index' %}"><i class="fa-fw fas fa-arrow-left mb-4"></i> return to dashboard</a>
    {% for event in events %}
    <div class="media d-flex align-items-center mt-5 mt-lg-0 mb-3">
        <div class="mr-3 bg-info p-3 px-4 text-center text-white" style="width: 125px;">
            <div class="p-0 m-0 h1 line-height-base text-white">{{ event.startTime|date:'d'}}
                <div class="p-0 m-0 h5 line-height-base text-white text-uppercase"><small>{{ event.startTime|date:'M' }} {{ event.startTime|date:'Y' }}</small></div></div>
        </div>
        <div class="media-body">
            <h3 class="h5 mt-0 mb-1">
                <a href="{% url 'genie:lots' %}?event={{ event.pk }}" class="text-shrink-1 text-info">{{ event.name }}</a>
            </h3>
            <p class="m-0">{{ event.startTime|date:'D' }} | <strong>at {{ event.startTime|date:'h:i A'}}</strong></p>
            <p class="m-0"><i class="fas fa-map-marker-alt fa-fw fa-sm text-primary">&nbsp;</i>{{ event.address }}</p>
            <p class="m-0">Assign Lot: <input class="toggle-switch" type="checkbox" {% if lot in event.parkingLots.all%}checked{% endif %} id="flexSwitch" data-event_id="{{ event.pk }}" onclick="assign_event(this)"/></p>
        </div>
    </div>
    {% endfor %}


    <script>
        var lot_id = {{ lot.pk }}

        var assign_event = function(toggle) {
            console.log(toggle)
            return fetch("/assign_events/assign_event/?lot=" + lot_id + "&event=" + toggle.dataset.event_id)
        }
    </script>
{% endblock %}
