{% extends 'genie/base.html' %}
{% load static %}
{% block title %}Assign Areas{% endblock %}
{% block content %}

<div class="toast sticky-top float-right mt-4" data-autohide="false">
	<div class="toast-header bg-danger">
		<strong class="mr-auto text-white">Oops!</strong>
		<button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
	</div>
	<div class="toast-body">
		{% for message in messages %}
		{{ message }}
		{% endfor %}
	</div>
</div>

<h1 class="mb-4">Lot Details</h1>

<p class="lead font-weight-bolder mt-3 mb-0">{{ lot.name }}</p>
<p class="lead mb-1">{{ lot.address }}</p>
<a class="lead" href="{% url 'genie:index' %}"><i class="fa-fw fas fa-arrow-left"></i> back to dashboard</a>

<h2 class="mt-5">Areas in {{ lot.name }}</h2>

<div class="table-responsive shadow my-5"><table class="table table-striped mb-0">
	<tr>
		<th class="pl-3">Area</th>
		<th>Capacity</th>
		<th>Spot Type</th>
		<th>Price</th>
		<th>Edit</th>
	</tr>
	{% for area in areas %}
	<tr>
		<td class="align-middle pl-3">{{ area.areaIdentifier }}</td>
		<td class="align-middle">{{ area.capacity }}</td>
		<td class="align-middle"><span class="badge badge-pill badge-info mr-2">{{ area.type }}</span></td>
		<td class="align-middle">${{ area.price }}</td>
		<td class="align-middle">
			<button type="button" class="pt-0 pl-0 btn btn-link" data-toggle="modal" data-target="#edit-modal_{{ area.pk }}"><i class="fas fa-pencil-alt"></i> Edit</button>
		</td>
	</tr>
	{% endfor %}

</table></div>

{% for area in areas %}

<div class="modal fade" id="edit-modal_{{ area.pk }}" tabindex="-1" role="dialog" aria-labelledby="edit-modal_{{ area.pk }}" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content p-4">
			<div class="modal-header">
				<h5 class="modal-title" id="edit_area_modal_{{ area.pk }}">Area Details</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form action="{% url "genie:update_area" %}?area={{ area.pk }}" method="post">
				{% csrf_token %}
				<div class="modal-body">
					<label for="area_{{ area.pk }}">Area ID: </label><input type="text" class="form-control" value="{{ area.areaIdentifier }}" name="area" id="area_{{ area.pk }}" required>
					<label for="capacity_{{ area.pk }}">Capacity: </label><input type="number" class="form-control" value="{{ area.capacity }}" name="capacity" id="capacity_{{ area.pk }}" required>
					<label for="type_{{ area.pk }}">Spot Type: </label><input type="text" class="form-control" value="{{ area.type }}" name="type" id="type_{{ area.pk }}" required>
					<label for="price_{{ area.pk }}">Spot Price: $</label><input type="number" class="form-control" value="{{ area.price }}" name="price" id="price_{{ area.pk }}" required>*
					<p><small>*BBPG will take a cut of 15% automatically when a purchase is made</small></p>
				</div>
				<div class="modal-footer">
					<input type="submit" class="btn btn-block btn-outline-success mt-4 mb-3" value="Save Changes"/>
					<button type="button" data-dismiss="modal" class="btn btn-block btn-outline-danger">Cancel</button>

				</div>
				<p class="text-center"><a href="{% url "genie:delete_area" %}?area={{ area.pk }}" class=" text-danger"><i class="fas fa-times"></i> Delete this area</a></p>
			</form>
		</div>
	</div>
</div>
{% endfor %}

<button class="p mx-3 my-3 btn btn-primary" data-toggle="modal" data-target="#area-modal"><i class="fa-fw fas fa-plus"></i>New Area</button>

<div class="modal fade" id="area-modal" tabindex="-1" role="dialog" aria-labelledby="area-modal" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content p-4">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Area Details</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form method="post" action="{% url "genie:add_area" %}?lot={{ lot.pk }}">
				{% csrf_token %}
				<div class="modal-body">
					<label for="new_area">Area ID: </label><input type="text" class="form-control" name="new_area" id="new_area" required>
					<label for="new_capacity">Capacity: </label><input type="number" class="form-control" name="new_capacity" id="new_capacity" required>
					<label for="new_type">Spot Type: </label><input type="text" class="form-control" name="new_type" id="new_type" required>
					<label for="new_price">Spot Price: $</label><input type="number" class="form-control" name="new_price" id="new_price" required>*
					<p><small>*BBPG will take a cut of 15% automatically when a purchase is made</small></p>
				</div>
				<div class="modal-footer">
					<input type="submit" class="btn btn-block btn-outline-success mt-4 mb-3" value="Add Area"/>
					<button type="button" data-dismiss="modal" class="btn btn-block btn-outline-danger">Cancel</button>
				</div>
			</form>
		</div>
	</div>
</div>

<script>
	{% if messages %}
	$(document).ready(function(){
		$('.toast').toast('show');
	});
	{% endif %}
</script>

{% endblock %}
