<!doctype html>
<html lang="en">
{% load static %}
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static 'genie/custom.css' %}">
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
	<script src="https://kit.fontawesome.com/584d265fad.js" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	<title>New Page</title>
</head>
<header>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<a class="navbar-brand h2 mb-sm-3 mx-4 p-0 pt-2" href="#">
			<img src="{% static 'genie/bbpg-white.PNG' %}" alt="Big Blue Parking Genie" style="width:100px;"/>
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active mr-3">
					<a class="nav-link" href="{% url 'genie:index' %}"><i class="fas fa-home fa-fw fa-sm">&nbsp;</i> Dashboard <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item mr-3">
					<a class="nav-link" href="{% url 'genie:events' %}">Events</a>
				</li>
				<li class="nav-item mr-3">
					<a class="nav-link" href="#">My Account</a>
				</li>
			</ul>
		</div>
	</nav>
</header>
<body>
  <main>
  <div class="container m-5">
    {% block content %}
    {% endblock %}
  </div>
  </main>
</body>
</html>