<!doctype html>
<html lang="en">
{% load static %}
<head>
	<link rel="shortcut icon" type="image/png" href="{% static 'genie/favicon.png' %}"/>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static 'genie/custom.css' %}">
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
	<script src="https://kit.fontawesome.com/584d265fad.js" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	<title>{% block title %}{% endblock %}</title>
</head>
<header>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<a class="navbar-brand h2 mb-3 mb-md-0 mx-4 py-2" href="{% url 'genie:index' %}">
			<img src="{% static 'genie/logo-01.png' %}" alt="Big Blue Parking Genie" style="width:150px;"/>
		</a>
		{% if user.is_authenticated %}
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto m-0">
				<li class="nav-item mr-3 {% if request.get_full_path == "/" %}active{% endif %}">
					<a class="nav-link" href="{% url 'genie:index' %}"><i class="fas fa-home fa-fw fa-sm"></i> Dashboard</a>
				</li>
				<li class="nav-item mr-3 {% if request.get_full_path == "/events/" %}active{% endif %}">
					<a class="nav-link" href="{% url 'genie:events' %}">Events</a>
				</li>
				{% if user.profile.is_supervisor %}
				<li class="nav-item mr-3 {% if request.get_full_path == "/user/" %}active{% endif %}">
					<a class="nav-link" href="{% url 'genie:user' %}">User</a>
				</li>
				{% endif %}
			</ul>
			<ul class="navbar-nav ml-md-auto mr-3">
				<a class="nav-link" style="color:rgba(255,255,255, 1);" href="{% url 'genie:logout' %}">Logout <i class="fas fa-sign-out-alt"></i></a>
			</ul>
		</div>
		{% endif %}
	</nav>
</header>
<body>
	<main>
		<div class="container-fluid m-0 p-0">
			{% if user.is_authenticated %}<div class="m-5">{% else %}<div class="m-0">{% endif %}
				{% if user.is_authenticated %}
				<div class="row">
					<div class="col-lg-1"></div>
					<div class="col-lg-10">
						{% endif %}
						{% block content %}
						{% endblock %}
						{% if user.is_authenticated %}
					</div>
				</div>
				{% endif %}
			</div>
		</div>
	</main>
</body>
{% if user.is_authenticated %}
<footer class="w-100 bg-blue text-white text-center text-lg-start">
	<div class="container-fluid w-100 p-0 m-0">

		<div class="w-100 d-flex flex-row justify-content-between">
			<div>
				<img class="float-left ml-0 d-none d-md-flex" height="250px;" src="{% static 'genie/footer_left.png' %}" alt="road graphic"/>
			</div>

			<div class="mb-4 mb-md-0 mt-5 col">
				<h5 class="text-left text-uppercase">Contact Information</h5>
				<p class="text-left mb-2">34 USU Street<br />Logan, UT 88888</p>
				<p class="text-left mb-2"><i class="fas fa-phone fa-fw fa-sm"></i> (111)111-1111</p>
				<p class="text-left"><i class="fas fa-envelope fa-fw fa-sm"></i> <a href="#">teamArthur@email.com</a></p>
			</div>

			<div class="mb-4 mb-md-0 mt-5 col">
				<h5 class="text-left text-uppercase">About Us</h5>
				<p class="text-left mb-2">Group 5 (Team Arthur)</p>
				<p class="text-left mb-2">Makalee<br />Derek<br />Anne<br />Kate</p>

			</div>

			<div>
				<img class="float-right mr-5 d-none d-md-flex" style="margin-top: -100px;" src="{% static 'genie/footer_right.png' %}" alt="BBPG logo" />
			</div>
		</div>
	</div>

	<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
		Special Thanks to Arthur <img class="d-inline" width="25px" src="{% static 'genie/arthur.png' %}" alt="arthur's face"/> BBPG Mascot
	</div>
</footer>
{% endif %}
