{% extends 'genie/base.html' %}
{% load static %}
{% block title %}Sample{% endblock %}
{% block content %}

<h1>User Dashboard</h1>
<p class="lead">Welcome, Person's Name!</p>

<h2>Your Reservations</h2>
<table>
    <tr>
        <th>Date</th>
        <th>Lot</th>
        <th>Space</th>
        <th>Address?</th>
        <th>Other info?</th>
    </tr>
    <tr>
        <td>February 5</td>
        <td>Aggie Terrace</td>
        <td>#53</td>
        <td>600 N 700 E, Logan, UT</td>
        <td>things</td>
    </tr>
</table>

{% endfor %}
{% endblock %}