{% extends 'genie/base.html' %}
{% load static %}
{% block title %}Sample{% endblock %}
{% block content %}

<h1>Available Lots</h1>

<h2 class="text-info">Chosen Event: Cool Event Title</h2>
<p class="lead">4:00 pm - 5:00 pm | Event Location</p>

<div class="row">
    <div class="col-sm-6 col-lg-4 d-flex">
        <div class="card my-3 w-100">
            <div class="card-body">
                <h2 class="h4 mt-2"><a class="text-primary" href="#">Aggie Terrace</a></h2>
                <p class="m-0"><i class="fas fa-map-marker-alt fa-fw fa-sm text-primary">&nbsp;</i>600 N 700 E, Logan, UT</p>
                <p class="m-0"><strong>Spots Available:</strong> 47</p>
                <p class=""><span class="badge badge-pill badge-success mr-2">Oversized Spots</span><span class="badge badge-pill badge-info mr-2">Tailgating</span></p>
                <p class="text-muted mb-0"><small>Posted by John Doe</small></p>
            </div>
            <div class="card-footer bg-primary p-2"></div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-4 d-flex">
        <div class="card my-3 w-100">
            <div class="card-body">
                <h2 class="h4 mt-2"><a class="text-primary" href="#">Stadium Parking</a></h2>
                <p class="m-0"><i class="fas fa-map-marker-alt fa-fw fa-sm text-primary">&nbsp;</i> 840 E 1250 N, Logan, UT</p>
                <p class="m-0"><strong>Spots Available:</strong> 300</p>
                <p class=""><span class="badge badge-pill badge-info mr-2">Tailgating</span></p>
                <p class="text-muted mb-0"><small>Posted by John Doe</small></p>
            </div>
            <div class="card-footer bg-primary p-2"></div>
        </div>
    </div>
	<div class="col-sm-6 col-lg-4 d-flex">
        <div class="card my-3 w-100">
            <div class="card-body">
                <h2 class="h4 mt-2"><a class="text-primary" href="#">Aggie Terrace</a></h2>
                <p class="m-0"><i class="fas fa-map-marker-alt fa-fw fa-sm text-primary">&nbsp;</i>600 N 700 E, Logan, UT</p>
                <p class="m-0"><strong>Spots Available:</strong> 47</p>
                <p class=""><span class="badge badge-pill badge-success mr-2">Oversized Spots</span><span class="badge badge-pill badge-info mr-2">Tailgating</span></p>
                <p class="text-muted mb-0"><small>Posted by John Doe</small></p>
            </div>
            <div class="card-footer bg-primary p-2"></div>
        </div>
    </div>
	<div class="col-sm-6 col-lg-4 d-flex">
        <div class="card my-3 w-100">
            <div class="card-body">
                <h2 class="h4 mt-2"><a class="text-primary" href="#">Stadium Parking</a></h2>
                <p class="m-0"><i class="fas fa-map-marker-alt fa-fw fa-sm text-primary">&nbsp;</i> 840 E 1250 N, Logan, UT</p>
                <p class="m-0"><strong>Spots Available:</strong> 300</p>
                <p class=""><span class="badge badge-pill badge-info mr-2">Tailgating</span></p>
                <p class="text-muted mb-0"><small>Posted by John Doe</small></p>
            </div>
            <div class="card-footer bg-primary p-2"></div>
        </div>
    </div>
</div>

{% endblock %}
