{% extends 'genie/base.html' %}
{% load static %}
{% block title %}Sample{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-5">
        <div class="card mt-5">
            <div class="card-body">
				<h1 class="h3 mb-3">Create a New Account</h1>
                <form method="POST" class="form-group">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-info">Register</button>
                </form>
                {% if user.is_authenticated %}
                    <p>Welcome, {{ user.username }}! To continue, please <a href="genie/account.html">login.</a></p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
