{% extends 'genie/base.html' %}
{% load static %}
{% block title %}Reservation{% endblock %}
{% block content %}

<div class="row justify-content-center">
	<div class="col-lg-5 my-4">
		<div class="card my-3 w-100">
			<div class="card-body">
				<h2 class="h3 text-primary">Reservation Details</h2>
				<p class="m-0"><strong>Reserved By: </strong>username</p>
				<p class="m-0"><strong>Date: </strong>April 4th, 2021</p>
				<p class="m-0"><strong>Time: </strong>12:00 AM - 12:00 PM</p>
				<p class="m-0"><strong>Area: </strong> 69</p>
				<p class="m-0"><strong>Lot Address: </strong> 420 N 69 E SaltLake Convention Center, Saltlake City, Utah, 66666</p>
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">
					<h3 class="h5 mt-2 text-primary">Event Details</h3>
					<p class="font-weight-bolder mb-0">Cool Event Title</p>
					<p class="card-text">4:00 pm - 5:00 pm | Event Location</p>
				</li>
				<li class="list-group-item">
					<button class="btn btn-block btn-outline-success mt-2 mb-3"><i class="fas fa-fw fa-check"></i> Verify</button>
					<button class="btn btn-block btn-outline-danger my-2"><i class="fas fa-fw fa-times"></i> Cancel</button>
				</li>
			</ul>
		</div>
	</div>
</div>


{% endblock %}
