{% extends 'genie/base.html' %}
{% load static %}
{% block title %}Sample{% endblock %}
{% block content %}

<div class="row justify-content-center">
    <div class="col-lg-6 d-flex">
        <div class="card my-3 w-100">
            <div class="card-body">
                <h2 class="h4 mt-2 text-primary">User Info</h2>
                <p class="m-0"><strong>Event: </strong> Saltlake Comicon 2021</p>
                <p class="m-0"><strong>Lot Address: </strong> 420 N 69 E SaltLake Convention Center, Saltlake City, Utah, 66666</p>
                <p class="m-0"><strong>Space Number: </strong> 69</p>
                <p class="m-0"><strong>Date: </strong>00/00/0000</p>
                <p class="m-0"><strong>Time: </strong>12:00 AM - 12:00 PM</p>
            </div>
            <div class="card-footer p-2"><a href="btn btn-danger">Cancel Reesrvation</a></div>
        </div>
    </div>
</div>


{% endblock %}