{% extends 'genie/base.html' %}
{% load static %}
{% block title %}Sample{% endblock %}
{% block content %}
	<!-- Everything should go in the container below -->
	<div class="container m-5">
		<h1>Page Title</h1>
		<div class="row my-3">
			<div class="col-lg-9">

				<!-- event feed option 1 -->
				<div class="card my-3 d-block">
					<div class="card-body">
						<h2 class="h4 mt-2"><a class="text-primary" href="#">Fun Upcoming Event Title</a></h2>
						<p class="m-0"><strong>March 4</strong> | 7:00 PM - 8:00 PM <i class="ml-3 fas fa-map-marker-alt fa-fw fa-sm text-primary">&nbsp;</i>USU Stadium</p>
						<p>Cool event description if we want to include one? - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
					</div>
				</div>

				<div class="card my-3 d-block">
					<div class="card-body">
						<h2 class="h4 mt-2"><a class="text-primary" href="#">Fun Upcoming Event Title</a></h2>
						<p class="m-0"><strong>March 4</strong> | 7:00 PM - 8:00 PM <i class="ml-3 fas fa-map-marker-alt fa-fw fa-sm text-primary">&nbsp;</i>USU Stadium</p>
						<p>Cool event description if we want to include one? - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
					</div>
				</div>

				<!-- event feed option 2 -->
				<div class="media d-flex align-items-center mt-2 mt-lg-0 mb-3">
					<div class="mr-3 bg-info p-3 px-4 text-center text-white">
						<div class="p-0 m-0 h2 line-height-base text-white">04</div>
						<div class="p-0 m-0 h5 line-height-base text-white text-uppercase">Mar</div>
					</div>
					<div class="media-body">
						<h3 class="h5 mt-0 mb-1">
							<a href="#" class="text-shrink-1 text-info">Cool Upcoming Event Title</a>
						</h3>
						<p class="m-0">Thu | <strong>at 7:00 PM</strong></p>
						<p class="m-0"><i class="fas fa-map-marker-alt fa-fw fa-sm text-primary">&nbsp;</i>USU Stadium</p>
					</div>
				</div>

				<div class="media d-flex align-items-center mt-2 mt-lg-0 mb-3">
					<div class="mr-3 bg-info p-3 px-4 text-center text-white">
						<div class="p-0 m-0 h2 line-height-base text-white">04</div>
						<div class="p-0 m-0 h5 line-height-base text-white text-uppercase">Mar</div>
					</div>
					<div class="media-body">
						<h3 class="h5 mt-0 mb-1">
							<a href="#" class="text-shrink-1 text-info">Cool Upcoming Event Title</a>
						</h3>
						<p class="m-0">Thu | <strong>at 7:00 PM</strong></p>
						<p class="m-0"><i class="fas fa-map-marker-alt fa-fw fa-sm text-primary">&nbsp;</i>USU Stadium</p>
					</div>
				</div>

				<!-- lot/spot feed option -->
				<div class="row">
					<div class="col-lg-6 d-flex">
						<div class="card my-3 w-100">
							<div class="card-body">
								<h2 class="h4 mt-2"><a class="text-primary" href="#">Aggie Terrace</a></h2>
								<p class="m-0"><i class="fas fa-map-marker-alt fa-fw fa-sm text-primary">&nbsp;</i>600 N 700 E, Logan, UT</p>
								<p class="m-0"><strong>Spots Available:</strong> 47</p>
								<p class=""><span class="badge badge-pill badge-success mr-2">Oversized Spots</span><span class="badge badge-pill badge-info mr-2">Tailgating</span></p>
								<p class="text-muted mb-0"><small>Posted by John Doe</small></p>
							</div>
							<div class="card-footer bg-primary p-2"></div>
						</div>
					</div>
					<div class="col-lg-6 d-flex">
						<div class="card my-3 w-100">
							<div class="card-body">
								<h2 class="h4 mt-2"><a class="text-primary" href="#">Stadium Parking</a></h2>
								<p class="m-0"><i class="fas fa-map-marker-alt fa-fw fa-sm text-primary">&nbsp;</i> 840 E 1250 N, Logan, UT</p>
								<p class="m-0"><strong>Spots Available:</strong> 300</p>
								<p class=""><span class="badge badge-pill badge-info mr-2">Tailgating</span></p>
								<p class="text-muted mb-0"><small>Posted by John Doe</small></p>
							</div>
							<div class="card-footer bg-primary p-2"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}