{% extends 'genie/base.html' %}
{% load static %}
{% block title %}Account Details{% endblock %}
{% block content %}
<div class="row mb-5">
	<div class="col-lg-12">
		<h2 class="mb-3 mt-5">Users</h2>
		<div class="table-responsive mb-5 shadow"><table class="table table-striped mb-0">
			<tr>
				<th>Username</th>
				<th>Permissions</th>
				<th>Balance</th>
				<th>Assigned Lots</th>
			</tr>
            {% for user in users %}
			<tr>
				<td>{{ user.username }}</td>
				<td>
					<div class="form-check-inline">
						<label class="form-check-label">
							<input type="checkbox" class="form-check-input"  value="">Manager
						</label>
					</div>
					<div class="form-check-inline">
						<label class="form-check-label">
							<input type="checkbox" class="form-check-input" value="">Attendant
						</label>
					</div>
					<div class="form-check-inline">
						<label class="form-check-label">
							<input type="checkbox" class="form-check-input" value="">Supervisor
						</label>
					</div>
				</td>
				<td>$45</td>
				<td>7</td>
			</tr>
            {% endfor %}
		</table></div>
		<br />
		<br />
	</div>
</div>
{% endblock %}
