{% extends 'genie/base.html' %}
{% load static %}
{% block title %}Sample{% endblock %}
{% block content %}

<div class="row justify-content-center">
    <div class="col-lg-6 d-flex">
        <div class="card my-3 w-100">
            <div class="card-body">
                <h2 class="h4 mt-2 text-primary">User Info</h2>
                <p class="m-0"><strong>email: </strong> ARandomEmail@gmail.com</p>
                <p class="m-0"><strong>password: </strong> ATotallySecurePassword</p>
                <p class="m-0"><strong>Credits Remaining: </strong>420</p>
            </div>
            <div class="card-footer bg-primary p-2"></div>
        </div>
    </div>
</div>


{% endblock %}