{% extends 'genie/base.html' %}
{% load static %}
{% block title %}Account Details{% endblock %}
{% block content %}
<div class="row mb-5">
	<div class="col-lg-9">
		<h2 class="mb-3 mt-5">Users</h2>
		<table class="table table-striped mb-5">
			<tr>
				<th>Username</th>
				<th>Permissions</th>
				<th>Balance</th>
				<th>Assigned Lots</th>
			</tr>
			<tr>
				<td>user.user</td>
				<td>
					<div class="form-check-inline">
						<label class="form-check-label">
							<input type="checkbox" class="form-check-input" value="">Manager
						</label>
					</div>
					<div class="form-check-inline">
						<label class="form-check-label">
							<input type="checkbox" class="form-check-input" value="">Attendant
						</label>
					</div>
					<div class="form-check-inline">
						<label class="form-check-label">
							<input type="checkbox" class="form-check-input" value="">Supervisor
						</label>
					</div>
				</td>
				<td>$45</td>
				<td>7</td>
			</tr>
		</table>
	</div>
</div>
{% endblock %}
