{% extends 'genie/base.html' %}
{% load static %}
{% block title %}Verified!{% endblock %}
{% block content %}

<div class="row justify-content-center">
	<div class="col-lg-5 my-4">
		<div class="card my-3 w-100">
			<div class="card-body">
				<h2 class="h3 text-primary text-center">Verification Successful!</h2>
				<p class="text-center text-success my-3"><i class="far fa-check-circle fa-7x"><!--&nbsp;--></i></p>
				<p>Event: {{ reservation.event.name }}</p>
                <p>Reservation Date: {{ reservation.event.startTime|date:'M d Y h:i A' }}</p>
				<p>Reserved By: {{ reservation.user.username }}</p>
				<p>Parking Lot: {{ reservation.lotArea.parkingLot.name }}</p>
				<p>Lot Area: {{ reservation.lotArea.areaIdentifier }}</p>
			</div>
		</div>
	</div>
</div>


{% endblock %}
