@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: bold;
}

.bg-blue, .btn-blue {
	background-color: #384660 !important;
	border-color: #384660 !important;
}

.bg-primary, .btn-primary {
	background-color: #0F2439 !important;
	border-color: #0F2439 !important;
}

.bg-info, .btn-info {
	background-color: #226BAA !important;
	border-color: #226BAA !important;
}

.text-primary {
	color: #0F2439 !important;
}

.text-info {
	color: #226BAA !important;
}

.text-gray {
	color: #495057 !important;
}

.popcard {
	transition: all .2s ease-in-out;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.popcard:hover {
	transform: scale(1.03);
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.pill-1 {
	background-color: #226BAA !important;
}

.pill-2 {
	background-color: #5cb85c !important;
}

.pill-3 {
	background-color: #f0ad4e !important;
}

.pill-4 {
	background-color: #d9534f !important;
}

.snazzy-bg {
	background: repeat url("{% static 'genie/snazzy-background.png' %}");
}


/* switch styling adapted from https://www.w3schools.com/howto/howto_css_switch.asp */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #4494DA;
}

input:focus + .slider {
  box-shadow: 0 0 1px #4494DA;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}
